.main{
    background-image: url("https://img-c.udemycdn.com/notices/web_banner/slide_1_image_udlite/7869fd17-9599-4a5e-9b03-4748a3dae016.jpg");
    height: 400px;
    width:100%;
    padding: 30px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top:20px;
}
.box{
    background-color: white;
    padding: 20px;
    margin-left: 30px;
    box-shadow: 0px 3px 10px grey;
}
.min{
    width:200px;
    height:350px;
}

.thi img
{
    width: 400px;
    height: 400px;
}
.hello{
    list-style-type: none;

}
.sat{
    display: flex;
    gap:20px;
}
